@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align: justify">Toda a minha trajetória na Montreal Turismo foi um grande desáfio, pois tive que aprender a 
    trabalhar com Linguagem SQL e TSQL para trabalhar diretamente no MSSQL Management. 
    Támbém tendo que reescrever os sistemas de Marcação de Reserva da empresa onde o cliente consegue
    reserva um quarto de hotel para sua viagem. 
    Fizemos a migração inicialmente para C# MVC 4 e após isso criamos serviços SOAP e Web API para disponibilizar,
    as funcionalidade de forma centralizada para que além da aplicação Web também o aplicativo mobile podesse consumir.
    Usamos uma arquitetura de N camadas com BL,DAL alguns padrões de projeto como Facade,Repository. 
    Esses projetos me marcarão pois foram grandes oportunidade de crescimento e aprendizado. O que levo até hoje como mantra 
    de sempre continuar estudando, aprendendo e aplicando.     
</p>
