@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Auvo</h1>
    
    <p>Candidato:<b>Diego Da Silva Monte</b></p>
    <p>Cargo:<b>Desenvolvedor .Net Pleno </b></p>
    <p>Pretensão salarial;:<b>R$ 8.000</b></p>
    <p>Data:<b>06/02/2023</b></p>
</div>
